<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load mptt_tags %}
    {% recursetree category_tree %}
        {% if not node.is_leaf_node %}
            <li>
                <a href="{% url 'blog:post-category' node.slug %}">{% trans node.title %}</a>
                <ul>
                    {{ children }}
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{% url 'blog:post-category' node.slug %}">{% trans node.title %}</a>
            </li>
        {% endif %}
    {% endrecursetree %}
</body>
</html>